<form  action="{{ path("api_client_update",{'id':form.vars.value.id}) }}" method="post" id="client-update-form">
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>

</form>

<script>
    $( "#client-update-form" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();


        // Get some values from elements on the page:
        var form = $( this ),
        url = form.attr( "action" );
        data = form.serializeArray()
                .reduce(function(a, x) { a[normalizeFormFieldName(x.name)] = x.value; return a; }, {});
        // Send the data using post
        $.ajax({
                    method: "PUT",
                    url: url,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json"
                })
                .done(function(response) {
                    if(response.status == 201) {
                        insertSuccessMessage($("#client-status-message"),response.msg);
                    }else{
                        insertErrorMessage($("#client-status-message"),response);
                    }
                })
                .fail(function (data) {
                    console.log(data);
                });
    });

    $("#update-button").click(function () {
        $.post("{{ path("client_update_data",{'id':form.vars.value.id}) }}", $("#client-data-form").serialize(), function (data) {

        }).done(function (data) {
            msg = data.msg;
            errors = data.errors;
            client = data.client;

            if (!errors) {
                $('#clientModal').modal('toggle');
                $('#access_client_idcarnumber').val(client.idCardNumber);
                $('#access_client_name').val(client.name + ' ' + client.surname);
                $('#clientdatasuccess').append('<p>' + msg + '</p>');
                $('#clientdatasuccess').show();
            } else {
                var e;
                for(e in errors) {
                    var parent =  $('#client_'+e).parent();
                    var errorlabel =  e+'-label-error';
                    if(!parent.hasClass("has-error")) {
                        $('#client_' + e).parent().toggleClass('has-error');
                    }
                    if ( !$("#"+errorlabel ).length ) {
                        $('#client_' + e).parent().append("<label id='" +errorlabel + "' class='control-label'>" + errors[e] + "</label>");
                    }
                }
            }
        }).fail(function (data) {
          console.log(data);
        });

    });
</script>