{% extends '::base.html.twig' %}


{% block body -%}

    <div class="row">
    <div id="lockersuccess"class="hidden" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   </div>

    </div>
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> Editar Socio

                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#lockerModal">Taquilla</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
               <div class="col-lg-8 col-lg-offset-2">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#client-data" data-toggle="tab">Datos</a></li>
                            <li><a href="#suscripciones" data-toggle="tab">Suscripciones</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="client-data">
                                <form action="{{ path('client_update', {'id':form.vars.value.id}) }}" method="post"
                                      id="client-form" class="form-horizontal">
                                    <fieldset>
                                        {{ form_widget(form) }}
                                    </fieldset>

                                </form>
                            </div>
                            <div class="tab-pane" id="suscripciones">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                    data-toggle="dropdown">
                                                Acciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li>
                                                    <a href="{{ path('membership_new',{'clientId':form.vars.value.id}) }}">Nueva
                                                        Suscripción</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-highlight">
                                    <thead>
                                    <tr>
                                        <th>Tarifa</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>
                                        <th>Estado</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for membership in memberships %}
                                        <tr>
                                            <td>{{ membership.getRate().getTitle() }}</td>
                                            <td>{% if membership.startDate %}{{ membership.startDate|date('d-m-Y H:i') }}{% endif %}</td>
                                            <td>{% if membership.endDate %}{{ membership.endDate|date('d-m-Y H:i') }}{% endif %}</td>
                                            <td>{{ tools.membershipStateImage(membership.isActive) }}</td>
                                            <td>

                                                <a class="btn btn-primary"
                                                   href="{{ path('membership_edit', { 'id': membership.id }) }}">
                                                    <i class="fa fa-edit"></i>Modificar</a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lockerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Taquilla para  {{ client }}</h4>
                </div>
                <div class="modal-body">
                       <div id="status-message" class="alert hidden" role="alert"></div>
                    <form action="#" method="post" id="locker-form">
                        <div  class="control-group">
                            <div id="locker-widget" class="form-group">
                                <label class="control-label required" for="access_locker">Locker</label>
                                <input type="number" pattern="\d*" id="access_locker" name="access[locker]" required="required" class="form-control">
                            </div>
                        </div>
                    </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="save-button"class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>
        $().ready(function () {


            $(document).keydown(function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13)// Enter key hit
                {
                    e.preventDefault();
                    return false;
                }
            });
            var validator = $("#client-form").validate({});
            $("#client_idCardNumber").rules("add", "idES");
            $("#access_locker").click(function() {
                $('#locker-widget').removeClass('has-error');
                $('#locker-error').remove();
            });

            $("#save-button").on("click", function(e) {
              assignLocker("client_cardNumber","access_locker");
            });

            $("#save-5button").click(function() {
                $.post("{{ path("assign_locker",{'id':form.vars.value.id}) }}", $("#locker-form").serialize(), function (data) {
                    msg = data.msg;
                    errorMsg = data.error;
                }).done(function() {
                    if(!errorMsg) {
                        $('#lockerModal').modal('toggle');
                        $('#lockersuccess').append('<p>'+msg+'</p>');
                        $('#lockersuccess').toggleClass("hidden alert alert-success alert-dismissible");
                    }else{
                        $('#locker-widget').toggleClass('has-error');
                        $('#locker-widget').append("<label id='locker-error' class='control-label'>"+errorMsg+"</label>")
                    }
                }).fail(function(data) {

                });

            });

        });
    </script>
{% endblock %}