{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Listado de socios</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list fa-fw"></i>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Acciones
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="{{ path("client_new") }}">Añadir socio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="clientDataTables">
                    <thead>
                    <th>Nº Documento</th>
                    <th>Nº Socio</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha socio</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>

                    {% for entity in entities %}
                        <tr class="even gradeC">
                            <td>{{ entity.idCardNumber }}</td>
                            <td>{{ entity.cardNumber}}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.surname }}</td>
                            <td>{{ entity.createdAt|date('d-m-Y') }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('client_edit', { 'id': entity.id }) }}">
                                <i class="fa fa-edit"></i>Modificar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
                </div>
         </div>
        </div>
{% endblock %}

