{% extends '::welcome.html.twig' %}
{% form_theme form _self %}

{% block _client_agree_label %}
       <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw -}}
            {{- label is not same as(false) ? (translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw ) -}}
        </label>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i>
                      Rellene sus datos

                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{{ path("app_welcome") }}">Volver</a></li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <form action="{{ path('client_register') }}" method="post" id="client-form"
                              class="form-horizontal">
                            <fieldset>
                                {{ form_widget(form) }}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Condiciones de usos y politica de usos</h4>
                </div>
                <div class="modal-body">
                    <h4>PROTECCIÓN DE DATOS Y POLÍTICA DE PRIVACIDAD.</h4>
                    <p>- Conforme a la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, los datos personales obtenidos por la a través del formulario de inscripción, serán incorporados a los  cheros “Socio”, de titularidad de The Ring, C.I.F. G-86883907 y domicilio en la calle Amparo, 78 de Madrid, contando con las medidas de seguridad establecidas en el Real Decreto 994/1999, de 11 de junio.</p>
               <p>- El socio garantiza que los Datos Personales facilitados son veraces, siendo responsable de comunicar cualquier cambio. Los socios o visitantes podrán ejercitar los derechos de acceso, cancelación, recti cación y oposición, contactando con los responsables de The Ring en el domicilio arriba indicado.
               </p>
                    <p>- La recogida y tratamiento automatizado de los Datos Personales tiene como  nalidad de adquirir la condición de socio o visitante. Se advierte, que no se realizarán cesiones de datos de carácter personal de socios o visitantes a terceros.</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $().ready(function () {

            $(document).keydown(function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13)// Enter key hit
                {
                    e.preventDefault();
                    return false;
                }
            });
            var validator = $("#client-form").validate({});
            $("#client_idCardNumber").rules("add", "idES");
        });
    </script>
{% endblock %}