{% extends '::welcome.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-exclamation fa-fw"></i>Información
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">

                            <div class="panel panel-primary">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="huge"><p>Pase por taquilla ahora. Gracias por su confianza. </p>
                                    </div>
                                    <a href="{{ path("app_welcome") }}" role="button" class="btn btn-warning btn-lg btn-block">Volver</a>
                                </div>
                            </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $().ready(function () {
            var delay = 30000; //Your delay in milliseconds
            setTimeout(function () {
                window.location ="{{ path("app_welcome") }}"
                } , delay);
        });
    </script>
{% endblock %}