{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Error {{ status_code }}</h1>
    <p>
        Pulse <a href="javascript:history.back()"><b>Aqui</b></a> para continuar  ao contacte con el administrador de sistemas.
    </p>
{% endblock %}