
{%- import "AppBundle:macros:tools.html.twig" as tools -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block resfresh %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <title>{% block title %}{{ appname}}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'bundles/app/bootstrap/css/bootstrap.min.css' filter='cssrewrite'
            'bundles/app/DataTables/datatables.min.css' filter='cssrewrite'
            'bundles/app/css/font-awesome.min.css' filter='cssrewrite'
            'bundles/app/css/main.min.css' filter='cssrewrite'
            'bundles/app/css/jquery.datetimepicker.css' filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('dashboard') }}">
                    <b>THE RING PRIVATE</b>
                    {#{% image '@AppBundle/Resources/public/img/logo_back.png'%}
                    <img src="{{ asset_url }}" alt="The Ring Private"/>
                    {% endimage %}#}
                </a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="nav navbar-top-links navbar-right">
                <li><a href="#"><i class="fa fa-user fa-fw"></i>Hola,{{ app.user.username }}</a></li>
                <li><a href="{{ path("fos_user_change_password") }}"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                <li><a href="{{ path("fos_user_security_logout") }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
     {% endif %}

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i>Socios<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path("client_new") }}"><i class="fa fa-plus-circle fa-fw"></i>Nuevo</a>
                                </li>
                                <li>
                                    <a href="{{ path("client") }}"><i class="fa fa-list fa-fw"></i>Listado</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange fa-fw"></i>Movimientos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path("access_new") }}"><i class="fa fa-arrow-circle-o-right fa-fw"></i>Entrada</a>
                                </li>
                                <li>
                                    <a href="{{ path("access_exit") }}"><i class="fa fa-arrow-circle-o-left fa-fw"></i>Salida</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path("access") }}"><i class="fa fa-caret-square-o-down fa-fw"></i>Registros</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#"><i class="fa fa-star-half-empty fa-fws"></i>Pases<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path("rate_new") }}"><i class="fa fa-arrow-circle-o-right fa-fw"></i>Nueva</a>
                                </li>
                                <li>
                                    <a href="{{ path("rate") }}"><i class="fa fa-list fa-fw"></i>Listado</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
            </div>
    </div>
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/js/jquery-2.1.4.min.js'
            '@AppBundle/Resources/public/bootstrap/js/bootstrap.min.js'
            '@AppBundle/Resources/public/DataTables/datatables.min.js'
            '@AppBundle/Resources/public/plugins/jquery.validate.min.js'
            '@AppBundle/Resources/public/plugins/messages_es.js'
            '@AppBundle/Resources/public/js/metisMenu.min.js'
            '@AppBundle/Resources/public/plugins/datetimepicker/jquery.datetimepicker.full.min.js'
            '@AppBundle/Resources/public/js/jquery.scannerdetection.js'
            '@AppBundle/Resources/public/js/main.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </body>
</html>
