<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login - Access Control</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {% block stylesheets %}
        {% stylesheets 'bundles/app/bootstrap/css/bootstrap.min.css' filter='cssrewrite'
        'bundles/app/css/main.min.css' filter='cssrewrite'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <div class="panel-body">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>