
{%- import "AppBundle:macros:tools.html.twig" as tools -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <title>{% block title %}THE RING PRIVATE{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'bundles/app/bootstrap/css/bootstrap.min.css' filter='cssrewrite'
            'bundles/app/css/font-awesome.min.css' filter='cssrewrite'
            'bundles/app/css/main.min.css' filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div id="wrapper">
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">THE RING PRIVATE</h1>
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        </div>

    </div>
    <!-- /#wrapper -->

        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/js/jquery-2.1.4.min.js'
            '@AppBundle/Resources/public/bootstrap/js/bootstrap.min.js'
            '@AppBundle/Resources/public/DataTables/datatables.min.js'
            '@AppBundle/Resources/public/plugins/jquery.validate.min.js'
            '@AppBundle/Resources/public/plugins/messages_es.js'
            '@AppBundle/Resources/public/js/metisMenu.min.js'
            '@AppBundle/Resources/public/plugins/datetimepicker/jquery.datetimepicker.full.min.js'
            '@AppBundle/Resources/public/js/main.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </body>
</html>
