{% trans_default_domain 'FOSUserBundle' %}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cambio de contrseña</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
        <div class="center-block span6">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>
        </div>
    </div>

</div>
    </div>

