{% macro membershipStateImage (membershipState) %}
    {% if (membershipState) %}
        <img src="{{ asset('bundles/app/img/silk/done.png') }}" alt="Activo" title="Activo">
    {% else %}
        <img src="{{ asset('bundles/app/img/silk/error.png')}}" alt="Inactivo" title="Inactico "/>
    {% endif %}
{% endmacro %}

{% macro membershipTypeImage(membershipType) %}
    {% if (membershipType == 1) %}
        <img src="{{ asset('bundles/app/img/silk/normal.png') }}" alt="Normal" title="Normal">
    {% endif %}
    {% if (membershipType == 2) %}
        <img src="{{ asset('bundles/app/img/silk/vip7.png') }}" alt="VIP 1 semana" title="VIP 1 semana">
    {% endif %}
    {% if (membershipType == 3) %}
        <img src="{{ asset('bundles/app/img/silk/vip30.png') }}" alt="VIP 1 mes" title="VIP 1 mes">
    {% endif %}
    {% if (membershipType == 4) %}
        <img src="{{ asset('bundles/app/img/silk/vip90.png') }}" alt="VIP 3 meses" title="VIP 3 meses">
    {% endif %}
    {% if (membershipType == 5) %}
        <img src="{{ asset('bundles/app/img/silk/vip180.png') }}" alt="VIP 6 meses" title="VIP 6 meses">
    {% endif %}
{% endmacro %}
