{% extends 'base.html.twig' %}

{% block resfresh %}<meta http-equiv="refresh" content="300">{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list fa-fw"></i> Socios pendientes de activiar
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <th>Tipo Documento</th>
                                <th>Nª Documento</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>E-mail</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>

                                {% for client in pending %}
                                    <tr class="even gradeC">
                                        <td>{{ client.idCardType|idType }}</td>
                                        <td>{{ client.idCardNumber }}</td>
                                        <td>{{ client.name }}</td>
                                        <td>{{ client.surname }}</td>
                                        <td>{{ client.email }}</td>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="{{ path('client_edit', { 'id': client.id }) }}">
                                                <i class="fa fa-edit"></i>Activar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Actualmente en el local
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Acciones
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="{{ path("access") }}">Ver todos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Socio</th>
                                        <th>Taquilla</th>
                                        <th>Fecha entrada</th>
                                        <th>Fecha Salida</th>
                                        <th>Tiempo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for access in accesses %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('client_edit', { 'id': access.id }) }}">{{ access.client }}</a>
                                            </td>
                                            <td>{{ access.locker }}</td>
                                            <td>{% if access.startDate %}{{ access.startDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                                            <td>{% if access.endDate %}{{ access.endDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                                            <td>{{ computeTime(access.elapsedTime) }}</td>
                                        </tr>
                                    {% endfor %}

                                    {% for access in anonyAccesses %}
                                        <tr>
                                            <td>Anónimo</td>
                                            <td>{{ access.locker }}</td>
                                            <td>{% if access.startDate %}{{ access.startDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                                            <td>{% if access.endDate %}{{ access.endDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                                            <td>{{ computeTime(access.elapsedTime) }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Datos del socio</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">

                <a id="modal-user"class="btn btn-primary" role="button" data-toggle="collapse" href="#clienformdata" aria-expanded="false" aria-controls="clienformdata">
                    Mostrar
                </a>
                <div class="collapse" id="clienformdata"></div>
                        <div id="client-status-message" class="alert hidden" role="alert">

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="status-message" class="alert hidden" role="alert">

                        </div>
                    <form  id="lockerForm" class="form-inline">
                        <div class="form-group">
                            <label for="lockerNumber">Nº Taquilla</label>
                            <input type="number" class="form-control" id="lockerNumber" placeholder="Numero de taquilla">
                        </div>
                        <button id="assignButton" type="button" class="btn btn-primary">Asignar</button>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


        $(document).ready(function() {

            $(this).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                onComplete: function(barcode, qty) {
                    var client;

                    $.get("/api/v1/client/membercard/"+trimNumber(barcode), function (data) {

                    }).done(function (data) {
                        if (!data.status != 200 ) {
                            client = data.data
                            $("#clienformdata").load("/client/form/" + client.id);
                            $("#modal-user").text(client.name + " "+client.surname);
                            $('#clientModal').modal('show');
                            $(document).scannerDetection(false);
                        } else {
                            alert(errorMsg);
                        }
                    }).fail(function (data) {
                        alert("No se ha encontrado un socio con tarjeta :"+trimNumber(barcode));
                    });
                }
            });
            $('#clientModal').on('shown.bs.modal', function () {
                $('#lockerNumber').focus()
            })

            $('#clientModal').on('hidden.bs.modal', function () {
                location.reload();
            })

            $("#assignButton").on("click", function(e) {
              assignLocker("client_cardNumber","lockerNumber");
            });

            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        })
    </script>

{% endblock %}





