{% extends '::welcome.html.twig' %}

{% block body -%}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> Registrate
            </div>
            <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class=" col-lg-8 col-md-offset-4">
                        <div class="col-lg-6 ">
                            <div class="panel panel-primary">
                                <a href="{{ path("client_register") }}">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <i class="fa fa-user  fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">Nueva cuenta</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
