{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form role="form" action="{{ path("fos_user_security_check") }}" method="post" name="login_fom">
        <fieldset>
            <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" required="required" placeholder="Password"
                       class="form-control"/>
            </div>
        <div class="login-actions">
            <input type="submit"  class="btn btn-lg btn-success btn-block" id="login_button" name="login_button"
                   value="{{ 'security.login.submit'|trans }}"/>
        </div>
            </fieldset>
    </form>
{% endblock fos_user_content %}
