{% extends '::base.html.twig' %}

{% block body -%}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>Editar Suscripción
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{{ path("dashboard") }}">Volver</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
 <div class="col-lg-8 col-lg-offset-2">
        <form action="{{ path('membership_update',{'id':form.vars.value.id}) }}" method="post"
              id="membership-form" class="form-horizontal">
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>

        </form>
        </div>
    </div>
        </div>
        </div>
        </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/jquery.datetimepicker.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/plugins/datetimepicker/jquery.datetimepicker.full.min.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
    <script>
        $(document).ready(function () {
            jQuery.datetimepicker.setLocale('es');
            jQuery('#membership_form_startDate').datetimepicker({format: 'd/m/Y H:i'});
        });
    </script>
{% endblock %}