{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nueva Suscripción</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <form action="{{ path('membership_create') }}" method="post" id="client-form"  class="form-horizontal">
                <fieldset>
                    {{ form_widget(form) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/jquery.datetimepicker.css' filter='cssrewrite'%}  <link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/plugins/datetimepicker/jquery.datetimepicker.full.min.js'%}<script src="{{ asset_url }}"></script>{% endjavascripts %}
    <script>
        $(document).ready(function() {
            jQuery.datetimepicker.setLocale('es');
            jQuery('#membership_form_startDate').datetimepicker({format:'d/m/Y H:i'});
        });
    </script>
{% endblock %}

