{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liberar taquilla</h1>
        </div>

    </div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> Dato del socio
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{{ path("dashboard") }}">Volver</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-8 col-lg-offset-2">

            <form action="{{ path('access_end') }}" method="post" id="exit-form"  class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label required" for="access_cardNumber">Nº taquilla:</label>
                        <div class="controls">
                            <input id="access_locker" name="access[locker]" required="required" maxlength="100"  type="text" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div id="result"></div>
                </fieldset>

            </form>
                    </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#access_locker').focus();
            $(document).keydown(function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13 && $("#access_locker").val().empty() != false)
                {
                    $.post("{{ path("access_end") }}", $("#access_locker").serialize(), function (data) {
                        $("#result").html(data);
                    });

                }

            });


        })
    </script>
{% endblock %}

