{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Accesos</h1>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listado de entradas/salidas
                    <div class="pull-right">
                        <div class="btn-group">
                            <button id="filterButton" type="button" class="btn btn-default btn-xs dropdown-toggle">
                                Ver filtros
                                <span class="caret"></span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Acciones
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="{{ path("client_new") }}">Añadir socio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="filterForm" class="hidden">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Fecha entrada</label>
                                <input type="text" name="startDate" id="startDate" class="form-control input-sm"
                                       placeholder="Mayor/igual"/>
                                <input type="text" name="endDate" id="endDate" class="form-control input-sm"
                                       placeholder="Menor/igual"/>
                            </div>
                            <button id="filter_reset" type="reset" class="btn btn-default">Limpiar</button>
                        </form>

                    </div>

                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="accessDataTables">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Cliente</th>
                                <th>Taquilla</th>
                                <th>Fecha entrada</th>
                                <th>Fecha Salida</th>
                                <th>Tiempo</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $('#filterButton').click(function () {
            $('#filterForm').toggleClass('hidden');
        });

        $(document).ready(function () {

            jQuery.datetimepicker.setLocale('es');
            jQuery(function () {
                jQuery('#startDate').datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        var max = new Date(jQuery('#endDate').val().replace(/([0-9]+)\/([0-9]+)/, '$2/$1'));
                        this.setOptions({
                            maxDate: max.getTime ? max.dateFormat('Y/m/d') : false
                        })
                    },
                    timepicker: false
                });
                jQuery('#endDate').datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {

                        var min = new Date(jQuery('#startDate').val().replace(/([0-9]+)\/([0-9]+)/, '$2/$1'));
                        this.setOptions({
                            minDate: min.getTime() ? min.dateFormat('Y/m/d') : false
                        })
                    },
                    defaultSelect: false,
                    timepicker: false
                });
            });


       });
    </script>

{% endblock %}

