{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div id="clientdatasuccess" class="hidden alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">Nueva entrada</h1>
        </div>
    </div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> Dato del socio
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" onclick="showForm('{{ date().timestamp }}','hidden')">Entrada especial</a></li>
                            <li><a href="{{ path("dashboard") }}">Volver</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="status-message" class="alert hidden" role="alert">

                    </div>
                    <form action="#" method="post" id="cardNumber"  class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <div class="form-group">
                                    {{ form_label(form.memberCard,'Nª Socio:') }}
                                    {{ form_errors(form.memberCard) }}
                                    {{ form_widget(form.memberCard) }}
                                </div>
                            </div>
                            <div class="control-group {% if not has_errors %} hidden {% endif %} ">
                                <div class="form-group">
                                    <label class="control-label" for="access_client">Nº Documento</label>
                                    <a href="" data-toggle="modal" data-target="#clientModal"><i class="fa fa-edit fa-fw"></i></a>
                                    <input type="text" id="access_client_idcarnumber"  class="form-control" value="{{ form.vars.value.client.idCardNumber | default('') }}" disabled="disabled">

                                </div>
                            </div>
                            <div class="control-group {% if not has_errors %} hidden {% endif %} ">
                                <div class="form-group">
                                    <label class="control-label" for="access_client">Socio</label>
                                    <a href="" data-toggle="modal" data-target="#clientModal"><i class="fa fa-edit fa-fw"></i></a>
                                    <input type="text" id="access_client_name"  class="form-control" value="{{ form.vars.value.client | default('') }}" disabled="disabled">
                                </div>
                            </div>
                            <div class="control-group {% if not has_errors %} hidden {% endif %}">
                                {{ form_row(form.locker)}}
                            </div>

                            <div class="control-group {% if not has_errors %} hidden {% endif %}">
                                {{ form_row(form.mode)}}
                            </div>

                            <div class="form-group {% if not has_errors %} hidden {% endif %} ">
                                <button id="assignButton" type="button" class="btn btn-primary">Asignar</button>
                                <a id="backButton" href="{{ path("dashboard") }}" class="btn btn-default" role="button">Volver</a>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Datos socio</h4>
            </div>
            <div class="modal-body">
                <div id="clienformdata"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="update-button"class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#access_memberCard').focus();
            if($("#access_client").val()){
                $("#clienformdata").load("/client/form/"+$("#access_client").val());
            }
            $(document).keydown(function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13)// Enter key hit
                {
                    e.preventDefault();
                    var barcode = $("#access_memberCard").val();
                    console.log($("#access_memberCard").val());
                    showForm(barcode);
                }

            });

            $("#assignButton").on("click", function(e) {
                assignLocker("access_memberCard","access_locker","access_mode");
            });
        });

        function showForm(cardNumber,mode){

            var client;
            var url = '/api/v1/client/membercard/'+trimNumber(cardNumber);
            if(mode) {
                url +="?mode=" + mode;
            }
            $.get(url, function (data) {

            }).done(function(data) {
                errorMsg = data.error;
                if((!data.status != 200 )) {
                    client = data.data;
                    $('#access_memberCard').val(client.cardNumber);
                    $('#access_client_idcarnumber').val(client.idCardNumber);
                    $('#access_client_name').val(client.name + ' ' + client.surname);
                    $('#access_client').val(client.id);
                    $("div.hidden").toggleClass('hidden');
                    $('#clientdatasuccess').hide();
                    $("#access_locker").focus();
                    if(!mode) {
                        $("#clienformdata").load("/client/form/" + client.id);
                    }else{
                        $("#access_mode").val(mode);
                    }
                }else{
                    alert(errorMsg);
                }
            }).fail(function(data) {
                alert("No se ha encontrado un socio con tarjeta :"+trimNumber(cardNumber));
            });

        }
    </script>
{% endblock %}

