{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Editar pase</h1>
        </div>
    </div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{{ path("rate") }}">Listado de Tarifas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-8 col-lg-offset-2">

                    <form action="{{ path('rate_update',{'id':form.vars.value.id}) }}" method="post"
                          id="rate-form" class="form-horizontal">
                        <fieldset>
                            {{ form_widget(form) }}
                        </fieldset>

                    </form>
                </div>
            </div></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>
        $().ready(function () {


            $(document).keydown(function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13)// Enter key hit
                {
                    e.preventDefault();
                    return false;
                }
            });
            var validator = $("#rate-form").validate({});
        });
    </script>
{% endblock %}
