{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Listado de pase</h1>
        </div>

    </div><div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{{ path("rate_new") }}">Añadir tarifa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="clientDataTables">
                        <thead>

            <tr>
                <th>Titulo</th>
                <th>Validez</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.duration }} dias</td>
                <td>{{ entity.status ? 'Si': "No" }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('rate_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-edit"></i>Modificar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



                    </div>
    {% endblock %}
